header {
	text-align: center;
	border-radius: 20px;
	border-bottom: #415151;
	font-family: 'Oswald', serif;
	font-weight: bold;
	background-color: #68CBD1;
}
p {
	text-align: center;
	font-family: 'Fjord', serif;
}